
h1 {
    font-size: 50px;
    color:blue;

 }
 .class0{
   font-size: 30px;
   background-color:
pink;
 }
.class1{
    font-size: 30px;
    background-color: yellow;
 }
.class2{
     font-size: 30px;
   background-color: lightgreen;





}

.class3{
    font-size: 30px;
  background-color: yellow;

}

.class4{
  font-size: 30px;
  background-color:
orange;

}

.class5{
  font-size: 30px;
  background-color: orange;
}

.class6{
  font-size: 30px;
  background-color: yellow;
}

.class7{
  font-size: 30px;
  background-color: green;
}

.class8{
  font-size: 30px;
  background-color: pink;
}
